PORT=5000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
TELEGRAM_GATEWAY_TOKEN=AAH_TwAA7jCfQBYKEhI1DNY_THRPV5YKQXkgYvcrQzbyVw
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/planr_db
