APP_NAME=Barbero
APP_BASE_URL=http://localhost:8081
PORT=5000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_refresh_jwt_key
TELEGRAM_GATEWAY_TOKEN=your_telegram_gateway_token
DEMO_AUTH=false
SALON_MERGE_RADIUS_M=50
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/barbero_db
VAPID_PUBLIC_KEY=BM-8Mn8egdGXkKokUrxWVl5XabsOj-b3ZfHIQ-bb879jaiY6uGatyTcSUV5fu2-vE20kDGywC8ruGWno9kU-M1U
VAPID_PRIVATE_KEY=Aswtv38VelVCli8rN15gu4H2QwFG96KVAjV2wl-WvPw
VAPID_SUBJECT=mailto:support@barbero.uz
